# Note: You need to uncomment the lines you want to use; the other lines can be deleted

# Git
.gitattributes export-ignore
.husky/ export-ignore
docs/ export-ignore
node_modules/ export-ignore
tests/ export-ignore
todo.md export-ignore
package-lock.json export-ignore
package.json export-ignore
demo.gif export-ignore
.versionrc export-ignore
.gitingore export-ignore
.commitlintrc export-ignore
.editorconfig export-ignore

# Tests
.phpunit.result.cache export-ignore
phpunit.xml export-ignore
